<template>
    <div>
        <el-button type="success" icon="el-icon-check" circle @click.native="moveCreate()">등록</el-button>
        <br />
        <div v-for="(item, index) in list"
             v-bind:key="index">
            순서: {{item.noticeId}}
            작성일: {{item.datePost}}
            제목: {{ item.title }}
            작성자 : {{item.writer}}
            <el-button type="primary" icon="el-icon-edit" circle @click.native="moveEdit(item.noticeId)"></el-button>
            <el-button type="success" icon="el-icon-check" circle @click.native="moveDetail(item.noticeId)"></el-button>

        </div>
    </div>
</template>
<script>
export default {
    middleware: 'auth',
    data() {
        return {
            list: [],
            // pageNum: 1,
            // // pageNum : 1,
        }
    },
    methods: {
        getListAll() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$noticeConstants.DO_NOTICE_LIST_ALL)
                .then((res) => {
                    this.list = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveDetail(noticeId) {
            let linkBaseUrl = '/notice/detail/'
            this.$router.push(`${linkBaseUrl}${noticeId}`)
        },
        moveEdit(noticeId) {
            let linkBaseUrl = '/notice/edit/' // Todo 수상하다
            this.$router.push(`${linkBaseUrl}${noticeId}`)
        },
        moveCreate() {
            this.$router.push('/notice/form')
            //     let linkBaseUrl = '/customer/detail/'
            //     this.$router.push(`${linkBaseUrl}${id}`)
        },
    },
    created() {
        this.getListAll()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'NOTICE_LIST_NOTE_ALL')
    },

}
</script>
